/* colors for dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
    }
    h1 {
        color: #DEEEEE;
    }
    h2 {
        color: #DEEEEE;
    }
    h3 {
        color: #DEEEEE;
    }
    p {
        color: #DEEEEE;
    }
    pre {
        color: #DEEEEE;
    }

    a {
        color: #3388FF;
    }

    input {
        background-color: #232323;
        border-color: #212121;
        color: #DEEEEE;
    }
}

