* {
    box-sizing: border-box;
}

.column-wrapper {
    margin: auto;
    max-width: 500px;
    text-align: center;
}

h3 {
    text-align: left;
}

p {
    text-align: left;
}

canvas {
    background-color: black;
    margin-bottom: 15px;
    display: block;
    width: 100%;
}

/* bottom center */
.links {
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .column-wrapper {
        max-width: 1500px;
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    }
    .column {
        padding: 1rem;
    }

    #vertical {
        grid-column: 1;
        grid-row: 1;
    }
    #main {
        grid-column: 2;
        grid-row: 1;
    }
    #horizontal {
        grid-column: 3;
        grid-row: 1;
    }
}

