body {
    width: 500px;
    margin: auto;
    text-align: center;
}

h3 {
    text-align: left;
}

p {
    text-align: left;
}

canvas {
    background-color: black;
    /* padding-left: 0; */
    /* padding-right: 0; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-bottom: 15px;
    display: block;
    width: 500px;
}

