.column-wrapper {
    margin: auto;
    max-width: 500px;
}

#main {
    text-align: center;
}

canvas {
    background-color: black;
    margin-bottom: 15px;
    display: block;
    width: 100%;
}

footer {
    text-align: center;
    padding: 1rem;
}

.links {
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .column-wrapper {
        max-width: 1500px;
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .column {
        padding: 1rem;
        grid-row: 1;
    }

    #down {
        grid-column: 1;
    }

    #main {
        grid-column: 2;
    }
    #across {
        grid-column: 3;
    }
}

